*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(218, 216, 216);
}

/* Configuração do header */
header{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #9cff9c;
}
header img{
    width: 15vh;
}
header h1{
    font-size: 4vh;
    color: rgb(36, 78, 36);
}

#barraCentral{
    display: flex;
    position: relative;
    left: 25vw;
    width: 75vw;
    background-color: aqua;
}


#imgCentro{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Configuração da barra lateral */
#barraLateral{
    width: 25vw;
    height: 100vh;
    background-color: rgb(153, 153, 153);
    padding: 1vh;
}

#pesquisaContato{
    width: 100%;
    padding: 1vh;
    border-radius: 1vh;
    font-size: 2vh;
}

.divContato {
    display: flex;
    flex-direction: row;
    padding: 2vh;
    cursor: pointer;
    transition: all 0.2s ease;
}
/* Transição para quando passar de um contato para o outro */
.divContato:hover {
    background-color: #9cff9c2d;
}

.divContato:active {
    background-color: #9cff9cc7;
}

.divContato img{
    width: 7vh;
    height: 7vh;
}
.divText{
    display: flex;
    flex-direction: column;
    padding-left: 1vh;
}
.divContato p{
    font-size: 3vh;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divContato span{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.7vh;
    color: rgb(39, 39, 39);
}